<div class="container">
  <h3 class="red-text col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12"> Note: You can access only one service at a time.</h3>
</div>
<div class="clearfix"></div>

<div class="container">
  <h3> Facebook </h3>
  <%= form_tag scrap_from_fb_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter twitter handles separated by comma (Maximum 25)</label>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_name_list, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
    
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3> FB fan page </h3>
  <%= form_tag scrap_db_fan_page_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter twitter handles separated by comma (Maximum 25)</label>
    </div>
    <%= hidden_field_tag :timezone, '', class: 'time-zone' %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_name_list, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3> Twitter </h3>
  <%= form_tag scrap_from_twitter_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter twitter handles separated by comma (Maximum 25)</label>
    </div>
    <%= hidden_field_tag :timezone, '', class: 'time-zone' %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_name_list, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3> YouTube </h3> 
  <%= form_tag scrap_youtube_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter youtube username separated by comma (Maximum 25)</label>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_names, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
    
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3> Instagram </h3> 
  <%= form_tag scrap_instagram_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter instagram username separated by comma (Maximum 25)</label>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_names, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3> Facebook Scrap </h3> 
  <%= form_tag scrap_facebook_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter instagram username separated by comma (Maximum 25)</label>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_names, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3> Youtube Scrap </h3> 
  <%= form_tag scrap_you_tube_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter youtube username separated by comma (Maximum 25)</label>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_names, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3> Vine Scrap </h3> 
  <%= form_tag scrap_vi_ne_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter vine username separated by comma (Maximum 25)</label>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_names, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3> Vimeo Scrap </h3> 
  <%= form_tag scrap_vimeo_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter vimeo username separated by comma (Maximum 25)</label>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_names, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>


<div class="container">
  <h3> Pinterest </h3> 
  <%= form_tag scrap_pinterest_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter pinterest username separated by comma (Maximum 25)</label>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_names, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3> Twitter Scrap </h3> 
  <%= form_tag scrap_twitter_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter twitter username separated by comma (Maximum 25)</label>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_names, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3> Vine </h3> 
  <%= form_tag scrap_vine_path do %>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 form-group">
      <label class="control-label">Please enter youtube username separated by comma (Maximum 25)</label>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
      <%= text_area_tag :user_names, '', placeholder: 'enter multiple user separating by coma', cols: 25, rows: 3, class: 'form-control' %><br/>
    </div><br/>
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-6 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12  form-group">
    
      <%= submit_tag :Extract, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    var timezone = jstz.determine();
    $('.time-zone').val(timezone.name());
  })
</script>